
.home--display {
    display:table;
    width: 100%;
    padding: 10px;
}

.home--SallingGroup {
    display:table-cell;
    width: 25%;
    background-color: rgb(247, 156, 215);
    padding: 10px;
}

.home--Coop {
    display: table-cell;
    width: 25%;
    margin-left: 20px;
    background-color:  rgb(241, 141, 189);
}