
.not--found{
    font-size: 50pt;
}

.product--loading{
    font-size: 40pt;
    color: rgb(95, 134, 35);
    font-style: bold;
}

.product--name{
    margin: 1px;
    font-family: sans-serif;
    color: rgb(52, 158, 96);
    font-size: 40pt;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.product--container{
    background-color: rgb(240, 245, 200);
    margin: -0.5%;
    padding-bottom: 10px;
}

.product--description{
    margin: 0;
    padding: 10px
}

.product--pitch{
    color: rgb(209, 76, 36);
    font-weight: bold;
}

.product--disclaimer{
    font-size: 9.5pt;
    margin: 2px;
}


.product--add--button{
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    color: rgb(51, 53, 63);
    background-color: lightblue;
    border-color: transparent;
    border-radius: 10px;
}

.product--add--button:hover{
    background-color: rgb(154, 199, 214)
}

.product--store--info--regular{
    border-style: solid;
    border-color: lightblue;
    background-color: lightcyan;
    padding-bottom: 5px;
    width: 20rem;
    margin: 10px 5px auto;
    display:inline-block
}

.product--store--info--regular:hover{
    background-color: lightskyblue;
}

.product--store--info--sale{
    border-style: solid;
    border-color: rgb(109, 172, 107);
    background-color: rgb(126, 233, 158);
    padding-bottom: 5px;
    width: 20rem;
    margin: 10px 5px auto;
    display:inline-block
}

.product--store--info--sale:hover{
    background-color: rgb(108, 207, 108);
}

.product--list{
    align-items: left;
    overflow: hidden;
}